.work-container{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 40px;
}.work-card-container{
    /* background-color: rgb(51, 49, 49); */
    display: flex;
    gap: 30px;
    padding: 3rem 1rem ;
    width: 80vw;
    margin: auto;
    border-radius: 5px;
    /* box-shadow: rgba(188, 49, 49, 0.24)10px 13px 13px, rgba(188, 49, 49, 0.24) 10px 13px 13px; */
    box-shadow: rgba(188, 49, 49, 1) 1px 1px 10px 1px;
}
.pro-img{
    width: 90%;
    opacity: 0.7;
}
.card-left{
    width: 60%;
    display: flex;
    gap: 15px;
    flex-direction: column;

}
.card-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.title{
    text-align: center;
    /* color: rgba(188, 49, 49, 1); */
    /* color: red; */
}
.card-bottom{
    padding: 0 2rem;
    width: 100%;display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
}
.tech{
    color: rgba(188, 49, 49, 1);
    font-size: 1.4rem;
    margin-top: 0%;
}
.tech-stack{
    text-align: center;
}
.techs{
    display: flex;
    /* padding: 0.7rem 2rem; */
    justify-content: space-around;
    margin-top: 10px;
}
.i-fam{
    height: 50px;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    box-shadow: rgba(188, 49, 49, 1) 1px 3px 8px;
}