.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  /* border: 1px solid red; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home {
  height: 100vh;
}
.my-image-bx {
  width: 170px;
  height: 170px;
  overflow: hidden;
  /* border: 2px solid white; */
  border-radius: 10px;
  box-shadow: 10px 14px 20px #ea3752;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  
}
.my-image-bx > img {
  width: 100%;
}

.home-intro {
  color: #fff;
  font-size: 2.5rem;
  margin: 10px 0;
}
.intro-desc {
  align-items: center;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.7rem;
  margin: 30px auto;
  width: 80%;
}
.icon-cont {
  margin: 30px 0;
  display: flex;
}

@media (max-width: 900px) {
  .intro-desc {
    width: 90%;
  }
}
