.footer{
    /* border:solid red; */
    padding: 6rem 4rem;
    width: 100%;
}
.footer-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border:solid red; */
}
p{
    font-size: 1.2rem;
}
.location{
    display: flex;
    /* border: 1px solid red; */
}
.right{
    display: flex;
    flex-direction: column;
    /* border:solid red; */
    gap: 20px;
}

@media (max-width:1040px) {
    .footer-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 70px;
    }
}