.footer{
    padding: 6rem 8rem;
    /* border: 1px solid red; */
}
.footer-container{
    display: flex;
    gap: 150px;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.f-left{
    /* height: 100%; */
    /* border: 1px solid red; */
}
.f-right{
    flex: 2;
    /* border: 1px solid red; */
    /* text-align: center; */
}
.location{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.location>p{
    margin-right: 1rem;
    /* border: 1px solid red; */
    display: flex;
    align-items: baseline;
    
}
.location p{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.f-about{
    font-size: 1.2rem;
}
.social{
    display: flex;
    /* justify-content: space-between;
    width: 20%; */
    /* border: 1px solid red; */
    /* margin: auto; */
    margin-top: 1rem;
}
.social>p{
    font-size: 1.8rem;
    margin-right: 30px;
    /* border: 1px solid red; */
}

@media screen and (max-width:1040px){
    .footer-container{
        display: flex;
        gap: 70px;
        flex-direction: column;
    }
    .social{
        /* margin: 0%; */
        margin-top: 1.5rem;
    }
}
@media screen and (max-width:540px) {
    .footer{
        /* padding: 3rem; */
        /* border: 1px solid red; */
    }
    .social{
        /* border: 1px solid red; */
        /* width: 30%; */
    }
}