@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&family=Poppins:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body{
    background: rgb(28, 27, 27);
}
h1,h4,p,a{
    color: rgb(255, 253, 253);
    text-decoration: none;
}
ul{
    list-style: none;


}

.btn{
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: rgba(95, 36, 105, 0.441);
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    /* box-shadow: rgba(188, 49, 49, 1) 1px 1px 12px 1px; */

}
.btn-light{
    background: transparent;
    color: #fff;
}
.btn-light:hover{
    background: rgba(25, 25 25, 0.2);
    transition: 0.3s;
}